<!DOCTYPE html>
<html><head>



<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
<style>

</style>


</head>

    
<body>
    
    <div class="container">


            
        <div class="row">
            
            
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Feed is streamed from the region's assigned camera</div>
            <div class="panel-body">
                <div class="col-md-12">      
                    <img src="../static/videos/original.gif" />      
                </div>
            </div>
      
        </div><hr>
        </div>

        
            
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Real time image recognition is used to identify people in region</div>
            <div class="panel-body">
                <div class="col-md-12">      
                    <img src="../static/videos/altered.gif" />    
                </div>
            </div>
        </div><hr>
        </div>
            
            
        </div>

        

            
        <div class="row">
            
            
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">People in each frame are counted to find the region's population</div>
            <div class="panel-body">
                <div class="col-md-12">      
                    <img src="../static/videos/graph.gif" />    
                </div>
            </div>
        </div><hr>
        </div>
            
            
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Population is translated into a heatmap representation of the region</div>
            <div class="panel-body">
                <div class="col-md-12">      
                    <img src="../static/videos/heat.gif" />     
                </div>
            </div>
        </div><hr>
        </div>

        </div>

    </div>
    
    



</body>
</html>